* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: rgba(30, 30, 46, 0.9);
  font-family: "JetbrainsMono Nerd Font";
}

button {
  color: #cdd6f4;
  background-color: rgba(17, 17, 27, 0.3);
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
}

button:focus, button:active, button:hover {
  border: 2px solid #cba6f7;
  background-color: rgba(49, 50, 68, 0.1);
  color: #cba6f7;
  outline-style: none;
}

