button {
  background-color: #11111b;
  outline-style: none;
  border: none;
  border-width: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10%;
  border-radius: 0px;
  box-shadow: none;
  text-shadow: none;
  animation: gradient_f 20s ease-in infinite;
}

button:focus {
  background-color: #a6adc8;
  background-size: 20%;
}

button:hover {
  background-color: #cba6f7;
  background-size: 25%;
  border-radius: 12px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682);
}

button:hover#lock {
  border-radius: 12px 12px 0px 12px;
  margin: 20px 0px 0px 20px;
}

button:hover#logout {
  border-radius: 12px 0px 12px 12px;
  margin: 0px 0px 20px 20px;
}

button:hover#shutdown {
  border-radius: 12px 12px 12px 0px;
  margin: 20px 20px 0px 0px;
}

button:hover#reboot {
  border-radius: 0px 12px 12px 0px;
  margin: 0px 20px 20px 0px;
}

#lock {
  border-radius: 12px 0px 0px 0px;
}

#logout {
  border-radius: 0px 0px 0px 12px;
}

#shutdown {
  border-radius: 0px 12px 0px 0px;
}

#reboot {
  border-radius: 0px 0px 12px 0px;
}
