window {
  height: 500px;
  width: 800px;
  transparency: "real";
  fullscreen: false;
  enabled: true;
  cursor: "default";
  spacing: 0px;
  padding: 0px;
  border: 2px;
  border-radius: 40px;
  border-color: #11111bff;
  background-color: transparent;
}

mainbox {
  enabled: true;
  spacing: 0px;
  padding: 0px;
  orientation: vertical;
  children: [ "inputbar", "listbox", "mode-switcher" ];
  background-color: transparent;
  /* background-image: url("/assets/wallpapers/cyberpunk.png", height); */
}

inputbar {
  enabled: true;
  children: [ "entry" ];
}
entry {
  enabled: false;
}

listbox {
  padding: 0px;
  spacing: 0px;
  orientation: horizontal;
  children: [ "listview" ];
  background-color: transparent;
}
listview {
  padding: 30px;
  spacing: 10px;
  enabled: true;
  columns: 5;
  cycle: true;
  dynamic: true;
  scrollbar: false;
  layout: vertical;
  reverse: false;
  fixed-height: true;
  fixed-columns: true;
  cursor: "default";
  background-color: #11111be6;
  text-color: #cdd6f4ff;
}

mode-switcher {
  orientation: horizontal;
  enabled: true;
  padding: 30px 160px 30px 160px;
  spacing: 50px;
  background-color: transparent;
}
button {
  cursor: pointer;
  padding: 30px;
  border-radius: 50px;
  background-color: #11111be6;
  text-color: #cdd6f4ff;
}
button selected {
  background-color: #cdd6f4ff;
  text-color: #11111be6;
}

element {
  orientation: vertical;
  enabled: true;
  spacing: 10px;
  padding: 10px;
  border-radius: 25px;
  cursor: pointer;
  background-color: transparent;
  text-color: #cdd6f4ff;
}
element selected.normal {
  background-color: #cba6f7ff;
  text-color: #11111bff;
}
element-icon {
  size: 90px;
  cursor: inherit;
  background-color: transparent;
  text-color: inherit;
}
element-text {
  vertical-align: 0.5;
  horizontal-align: 0.5;
  cursor: inherit;
  background-color: transparent;
  text-color: inherit;
}
